.game-end{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
    gap: 16px;
}


.game-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 80%;
    padding: 16px;
    background-color: var(--card-color);
    border: 1px solid var(--ladder-row-color);
}

.game-result > :nth-child(1){
    font-size: 1.5rem;
}

.game-result > :nth-child(2){
    font-style: italic;
color: var(--text-hl-color);
}

.game-result-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 8px 5%;
    border: 1px solid var(--ladder-row-color);
}
  
.game-result-input input{
    text-align: center;
    background-color: var(--card-color);
    border: 3px solid var(--ladder-row-color);
}

.game-ladder{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    width: 80%;
    padding: 16px;
    background-color: var(--card-color);
    border: 1px solid var(--ladder-row-color);
}

.game-ladder h2{
    font-size: 2rem;
}

.ladder-row,
.ladder-row-out-result{
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    gap: 8px;
}

.ladder-row-out{
    display: flex;
    flex-direction: column;
}

.splitter{
    display: flex;
    align-self: center;
    border-bottom: 5px dotted var(--ladder-row-color);
    width: 50%;
    margin: 8px 0;
}

.player-position > *,
.ladder-row-out-result > *{
    color: var(--text-hl-color);
}

.player-position,
.ladder-row-out-result{
    border: 3px solid var(--ladder-row-color);
    padding: 0 13px;
}  
  