.game-target{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    transform: translate(-50%, -25%);
}

.target{
    background-color: rgba(247, 0, 255, 0.6);
    border: 2px solid var(--bg-color);
    border-radius: 50%;
    width: 48px;
    aspect-ratio: 1;
}

.gameTargetButton{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.gameTargetButton button{
    text-align: center;
    font-weight: 700;
    background-color: var(--card-color);
    border: 2px solid var(--ladder-row-color);
    padding: 4px 12px;
}

.gameTargetButton button:not(.found):hover{
    background-color: var(--bg-color);
}

.gameTargetButton .found{
    color: var(--bg-color);
    border: 1px solid green;
    /* filter: grayscale(100%) brightness(80%) sepia(300%) hue-rotate(50deg) saturate(500%); */
    background-color: lightgreen;
} 

.found{
    border: 1px solid green;
    /* filter: grayscale(100%) brightness(80%) sepia(300%) hue-rotate(50deg) saturate(500%); */
    background-color: lightgreen;
} 
