.game-target{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    transform: translate(-50%, -25%);
}

.target{
    background-color: rgba(247, 0, 255, 0.6);
    border: 2px solid var(--bg-color);
    border-radius: 50%;
    width: 48px;
    aspect-ratio: 1;
}

.gameTargetButton{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.found{
    /* filter: grayscale(100%) brightness(80%) sepia(300%) hue-rotate(50deg) saturate(500%); */
    background-color: lightgreen;
    color: var(--bg-color);
} 
