*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@keyframes glow-test {
  0%   {background-color:red; opacity: 0; transform: scale(1);}
  50% {background-color:red; opacity: 1; transform: scale(3);}
  1000%   {background-color:red; opacity: 0; transform: scale(1);}
}

:root{
  --bg-color: #030303 ;
  --card-color: #1a1a1b;
  --text-color: #D7DADC;
  --text-hl-color: #4FBCFF;
  --ladder-row-color: #272729;
  --player-ladder-row-color: #272729;
}

a{
  text-decoration: none;
}

button{
  text-align: center;
  font-weight: 700;
  border: 3px solid var(--ladder-row-color);
  padding: 4px 12px;
  width: max-content;  
}

button:not(.found){
  background-color: var(--card-color);
}

button:not(.found):hover{
  cursor: pointer;
}
